<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>장바구니</title>
</head>
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script>
    function cancelMenu(){
        var checkArr = [];
        $("input[name='menuId']:checked").each(function(i) {
            checkArr.push($(this).val());
            var i = $(this).parents("tr");
            i.remove();
        });

        $.ajax({
            url: '/cartcancel'
            , type: 'post'
            , dataType: 'text'
            , data: {
                menuArr: checkArr
            }
        });
    }

    function order() {
        var checkArr = [];
        var checkMenuId = [];
        var checkCount = [];
        $("input[name='menuId']:checked").each(function(i) {
            checkMenuId.push($(this).val());
            checkCount.push($(this).parents("tr").children().eq(3).text());
        });

        var Data = {
            "menuId": checkMenuId,
            "count": checkCount
            }


        $.ajax({
            url: '/order'
            , type: 'post'
            , data: Data
            , success: cancelMenu()
        });
    }

    function orderList() {
        location.href = 'order';
    }

    function menuList() {
        location.href = 'menus';
    }
</script>
<body>
<div class="container">
    <div>
        <table>
            <thead>
            <tr>
                <th>#</th>
                <th>메뉴명</th>
                <th>가격</th>
                <th>수량</th>
            </tr>
            </thead>
            <tbody th:id="cartTable">
                <tr th:each="cart : ${carts}"  th:id="${cart.menu.id}">
                    <td><input type="checkbox" th:name="menuId" th:value="${cart.menu.id}" class="form-check-input"></td>
                    <td th:text="${cart.menu.name}"></td>
                    <td th:text="${cart.menu.price}"></td>
                    <td th:text="${cart.count}"></td>
                </tr>
            </tbody>
        </table>
        <table>
            <thead>
            <tr>
                <th>총 가격</th>
                <th> </th>
                <th><button id="cartBtn1" onclick="cancelMenu()" type="submit">메뉴취소</button></th>
            </tr>
            </thead>
        </table>
    </div>
    <div class="row">
        <div class="col">
            <button id="order" onclick="order()" type="submit">주문</button>
        </div>
        <div class="col">
            <button id="orderHistory" onclick="orderList()" type="submit">주문내역</button>
        </div>
        <div class="col">
            <button id="menuBtn" onclick="menuList()" type="submit">메뉴</button>
        </div>
    </div>
</div> <!-- /container -->
</body>
</html>