<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>장바구니</title>
</head>
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script>
    $(function(){
        $("button[name='cancelMenu']").click(function(){
            var cancelMenu = $(this).val();

            console.log(cancelMenu);

            $(this).parents("tr").remove();

            $.ajax({
                url: '/cart/cancel'
                , type: 'post'
                , dataType: 'text'
                , data: {
                    cancelMenu: cancelMenu
                }
            });
        });
	});

	function order() {
        var checkArr = [];
        var checkMenuId = [];
        var checkCount = [];
        $("#cartTable tr").each(function(i) {
            checkMenuId.push($(this).val());
            checkCount.push($(this).parents("tr").children().eq(2).text());
        });

        var Data = {
            "menuId": checkMenuId,
            "count": checkCount
            }


        $.ajax({
            url: '/order'
            , type: 'post'
            , data: Data
            , success: cancelMenu()
        });
    }

    function orderList() {
        location.href = 'order';
    }

    function menuList() {
        location.href = 'menus';
    }


</script>
<body>
<div class="container">
    <div>
        <table>
            <thead>
            <tr>
                <th>메뉴명</th>
                <th>가격</th>
                <th>수량</th>
            </tr>
            </thead>
            <tbody th:id="cartTable">
            <tr th:each="cart : ${carts}" th:name="menuId">
                <td th:text="${cart.menu.name}"></td>
                <td th:text="${cart.menu.price}"></td>
                <td th:text="${cart.count}"></td>
                <td><button name="cancelMenu" th:value="${cart.menu.id}" type="submit">메뉴취소</button></td>
            </tr>
            </tbody>
        </table>
        <table>
            <thead>
            <tr>

            </tr>
            </thead>
        </table>
    </div>
    <div class="row">
        <div class="col">
            <button id="order" onclick="order()" type="submit">주문</button>
        </div>
        <div class="col">
            <button id="orderHistory" onclick="orderList()" type="submit">주문내역</button>
        </div>
        <div class="col">
            <button id="menuBtn" onclick="menuList()" type="submit">메뉴</button>
        </div>
    </div>
</div> <!-- /container -->
</body>
</html>