<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>메뉴명</th>
                <th>가격</th>
                <th></th>
            </tr>
            </thead>
            <tbody> <tr th:each="menu : ${menus}">
                <td th:text="${menu.name}"></td>
                <td th:text="${menu.price}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->
</body>
</html>