<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>메뉴목록</title>
</head>
<body>
<div class="container">
    <form role="form" action="/cart" th:object="${CheckedId}" method="post">
    <div>
        <table>
            <thead>
            <tr>
                <th>#</th>
                <th>메뉴명</th>
                <th>가격</th>
                <th></th>
            </tr>
            </thead>
            <tbody> <tr th:each="menu : ${menus}">
                <td><input type="checkbox" th:name="menuId" th:id="${menu.id}" class="form-check-input"></td>
                <td th:text="${menu.name}" ></td>
                <td th:text="${menu.price}"></td>
                <td style="display: none;" th:value="${menu.id}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col">
            <button id="cartSubmit" onclick="cartPop()" type="submit">장바구니</button>
        </div>
    </div>
    </form>
</div> <!-- /container -->
</body>
</html>

